<nav id="navbar" class="navbar fixed-top">
    <div class="logo-wrap">
        <a class="logo-link" href="/" title="StayOnTheGo">
            <img class="logo-img" class="img-fluid" src="/images/stay-on-the-go-logo.png" alt="Stay On The Go Logo">
        </a>
    </div>
    <ul id="nav-links">
        <li class="nav-item">
            <a class="nav-link" href="/"><span class="material-symbols-outlined">
                home
                </span><span>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rentals/rentals"><span class="material-symbols-outlined">
                bed
                </span><span>Rentals</span>
            </a>
        </li>
        {{#if user}}
        <li class="nav-item">
            <a class="nav-link" {{#if isClerk}}href="/rentals/list" {{else}} href="/cart" {{/if}}>
                <span>Hello {{user.fname}}!</span>
            </a>
        </li>
        <li class="nav-item">
            <button class="nav-link btn btn-link" data-bs-toggle="modal" data-bs-target="#logoutModal"><span class="material-symbols-outlined">
                logout
                </span><span>Log out</span>
            </button>

            <!-- Modal -->
        <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        {{!-- <h1 class="modal-title fs-5" id="logoutModalLabel">Modal title</h1> --}}
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you want to log out?
                    </div>
                    <div class="modal-footer">
                        <a class="text-white" href="/log-out">
                            <button type="button" class="btn btn-secondary">
                                Yes
                            </button>
                        </a>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link" href="/log-in"><span class="material-symbols-outlined">
                login
                </span><span>Log in</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sign-up"><span class="material-symbols-outlined">
                person_add
                </span><span>Sign up</span>
            </a>
        </li>
        {{/if}}
    </ul>

    <div class="dropstart">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="dropdown menu">
    <i class="fa fa-bars"></i>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/">Home</a></li>
    <li><a class="dropdown-item" href="/rentals/rentals">Rentals</a></li>
    {{#if user}}
        <li>
            <a class="dropdown-item" {{#if isClerk}}href="/rentals/list" {{else}} href="/cart" {{/if}}>
                <span>Hello {{user.fname}}!</span>
            </a>
        </li>
        <li><a class="dropdown-item" href="/log-out">Log out</a></li>
    {{else}}
        <li><a class="dropdown-item" href="/log-in">Log in</a></li>
        <li><a class="dropdown-item" href="/sign-up">Sign up</a></li>
    {{/if}}
  </ul>
</div>
</nav>