<section id="log-in-block" class="border">
    <h2 class="mb-3">Forgot Password</h2>
    <form id="log-in" method="post" action="/forgot-password-3/{{id}}">
        <div class="row mb-3">
            <label for="password" class="form-label mt-2">Password</label>
            <div class="col password-col">
                <input type="password" id="password" class="form-control {{#if validationMessages.password}}is-invalid{{/if}}" name="password" autocomplete="current-password" value="{{values.password}}" tabindex="1">  
                <i class="fa fa-eye-slash eye-icon" id="eye" onclick="checkPassword()" {{#if validationMessages.password}}style="top: 30%; right: 18%"{{/if}}></i>
                {{#if validationMessages.password}}
                <div class="invalid-feedback">{{validationMessages.password}}</div>
                {{/if}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="confirm-password" class="form-label mt-2">Confirm Password</label>
            <div class="col password-col">
                <input type="password" id="confirm-password" class="form-control {{#if validationMessages.confirmPassword}}is-invalid{{/if}}" name="confirmPassword" autocomplete="current-password" value="{{values.confirmPassword}}" tabindex="2">  
                <i class="fa fa-eye-slash eye-icon" id="eye1" onclick="checkPassword1()" {{#if validationMessages.confirmPassword}}style="top: 30%; right: 18%"{{/if}}></i>
                {{#if validationMessages.confirmPassword}}
                <div class="invalid-feedback">{{validationMessages.confirmPassword}}</div>
                {{/if}}
            </div>
        </div>

        <input type="submit" id="submit" class="btn btn-outline-primary mt-4" value="Change Password" tabindex="3">
    </form>
</section>