<section id="log-in-block" class="border">
    <h3 class="mb-3">Sign Up</h3>
    <p class="text-center">Create your account by entering your email address and choosing a password</p>
    <form id="log-in" method="post" action="/sign-up">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" id="fname" class="form-control {{#if validationMessages.fname}}is-invalid{{/if}}" name="fname" autocomplete="given-name" value="{{values.fname}}" tabindex="1">
        {{#if validationMessages.fname}}
        <div class="invalid-feedback">{{validationMessages.fname}}</div>
        {{/if}}

        <label for="lname" class="form-label mt-2">Last Name</label>
        <input type="text" id="lname" class="form-control {{#if validationMessages.lname}}is-invalid{{/if}}" name="lname" autocomplete="family-name" value="{{values.lname}}" tabindex="2">
        {{#if validationMessages.lname}}
        <div class="invalid-feedback">{{validationMessages.lname}}</div>
        {{/if}}

        <label for="email" class="form-label mt-2">Email Address</label>
        <input type="text" id="email" class="form-control {{#if validationMessages.email}}is-invalid{{/if}}" name="email" autocomplete="email" value="{{values.email}}" tabindex="3">
        {{#if validationMessages.email}}
        <div class="invalid-feedback">{{validationMessages.email}}</div>
        {{/if}}

        <div class="row">
            <label for="password" class="form-label mt-2">Password</label>
            <div class="col password-col">
                <input type="password" id="password" class="form-control {{#if validationMessages.password}}is-invalid{{/if}}" name="password" autocomplete="current-password" value="{{values.password}}" tabindex="4">
                {{#if validationMessages.password}}
                <div class="invalid-feedback">{{validationMessages.password}}</div>
                {{/if}}
            </div>
            <div class="col eye-col" {{#if validationMessages.password}}style="top: 40%; right: 18%"{{/if}}>
                
                <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off" onclick="checkPassword()" tabindex="5">
                <label class="btn" for="btn-check" id="eye"><i class="fa fa-eye-slash"></i></label>
            </div>
        </div>

        <input type="submit" id="submit" class="btn btn-outline-primary mt-4" value="Sign up today" tabindex="6">
    </form>
</section>